body {
    background-color: #111;
}

.btn-custom {
    background-color: #0d6efd;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}

.btn-custom:hover {
    background-color: #0b5ed7;
}
