body {
    background-color: #111;
}

.btn-custom {
    background-color: #198754;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 18px;
}

.btn-custom:hover {
    background-color: #157347;
}
